@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap')
        
$white: hsl(0, 0%, 100%)
$light-gray: hsl(212, 45%, 89%)
$grayish-blue: hsl(220, 15%, 55%)
$dark-blue: hsl(218, 44%, 22%)

$font-size: 15px
$family: 'Outfit', sans-serif  //400, 700
$interlineado: 1rem

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: $family

.flag
    position: absolute
    top: 0
    margin-top: 5px
    border-top-right-radius: 1rem
    border-bottom-right-radius: 1rem
    background: #2e2e2e
    width: 120px
    height: 50px
    transition: all 1s
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    font-family: sans-serif
    text-transform: uppercase
    font-weight: 700
    &:hover
        width: 400px
        color: transparent
        .attribution
            width: 400px
            opacity: 1

.attribution
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: all 1s
    width: 0
    font-size: 1.1rem
    text-align: center
    opacity: 0
    overflow: hidden
    font-family: sans-serif
    color: #fff
    text-decoration: none
    a
        color: #fff

html
    font-size: $font-size

.qrcon
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    background: $light-gray
.qr
    margin: 1rem
    padding: 0.8rem
    background: $white
    border-radius: 1rem
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: column
    &__image
        width: 100%
        max-width: 300px
        border-radius: 1rem
    h2
        margin-top: $interlineado
        font-weight: 700
        max-width: 18rem
        text-align: center
    p
        margin-top: $interlineado
        max-width: 18rem
        color: $grayish-blue
        font-weight: 400
        text-align: center
        margin-bottom: $interlineado



